<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.assignment_1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPasswordPage"
            android:label="Forgot Password" />
        <activity
            android:name=".RegistrationPage"
            android:label="Register" />
        <activity
            android:name=".LandingScreen"
            android:label="Welcome!" />
        <activity
            android:name=".SignInPage"
            android:label="Sign In" />
        <activity
            android:name=".DisplayPassword"
            android:label="Display Password" />
        <activity
            android:name=".AddNote"
            android:label="Add New Note" />
        <activity android:name=".AddNote2" />
        <activity
            android:name=".EditProfile"
            android:label="Edit Profile"/>
        <activity
            android:name=".ActivityHistory"
            android:label="Your Browsing History">
        </activity>
    </application>

</manifest>